/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


input, textarea, select, .uneditable-input {
  border: 1.2px solid #bbb;
  width: 100%;
  margin-bottom: 2%;
}

* {
	box-sizing: border-box;
}
h1, h2, h3, h4, p{
    color: black;
}
h1 {
	font-size: 3em;
}
#header {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;

}
#today-weather-is {
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 1s;
	-moz-animation-iteration-count: 1;
}
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
.fade-in.one {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}
 
.fade-in.two {
-webkit-animation-delay: 2.6s;
-moz-animation-delay:2.6s;
animation-delay: 2.6s;
}
 
.fade-in.three {
-webkit-animation-delay: 2.9s;
-moz-animation-delay: 2.9s;
animation-delay: 2.9s;
}

html {
	height: 100%;
}

body {
	height: 100%;
  background: -webkit-linear-gradient(90deg,  #00ff7f 10%, #40ED96 90%);
  background:    -moz-linear-gradient(90deg,  #00ff7f 10%, #40ED96 90%);
  background:     -ms-linear-gradient(90deg,  #00ff7f 10%, #40ED96 90%);
  background:      -o-linear-gradient(90deg,  #00ff7f 10%, #40ED96 90%);
  background:         linear-gradient(90deg,  #00ff7f 10%, #40ED96 90%);
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.navbar-default {
	background-color: white;
	border-radius: 0;
	height: 80px;
	padding: 15px 0;
	border: none;
}