// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


* {
	box-sizing: border-box;
}
h1, h2, h3, h4, p{
    color: black;
}
h1 {
	font-size: 3em;
}
#header {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;

}
#today-weather-is {
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 1s;
	-moz-animation-iteration-count: 1;
}
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
.fade-in.one {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}
 
.fade-in.two {
-webkit-animation-delay: 2.6s;
-moz-animation-delay:2.6s;
animation-delay: 2.6s;
}
 
.fade-in.three {
-webkit-animation-delay: 2.9s;
-moz-animation-delay: 2.9s;
animation-delay: 2.9s;
}

html {
	height: 100%;
}

body {
	height: 100%;
  background: -webkit-linear-gradient(90deg,  #55ACEE 10%, #85E0FF 90%);
  background:    -moz-linear-gradient(90deg,  #55ACEE 10%, #85E0FF 90%);
  background:     -ms-linear-gradient(90deg,  #55ACEE 10%, #85E0FF 90%);
  background:      -o-linear-gradient(90deg,  #55ACEE 10%, #85E0FF 90%);
  background:         linear-gradient(90deg,  #55ACEE 10%, #85E0FF 90%);
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.navbar-default {
	background-color: white;
	border-radius: 0;
	height: 80px;
	padding: 15px 0;
	border: none;
}